[submodule "content/posts/p1"]
	path = content/posts/p1
	url = https://github.com/cel-ti/hanadoc-post-1.git
[submodule "static1"]
	path = static1
	url = https://github.com/cel-ti/hanadoc-static-1.git
